p {
    font-size: 20px
}

.gray-background {
    background-color: lightgrey;
}

#centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

#centered-text {
    text-align: center
}